mat-card {

  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.column-flex {

  display: flex;
  flex-direction: column;
  min-width: none;
}

.loading-spinner{

  padding: 25px;
  background: rgb(5, 5, 5);
  display: flex;
  align-items: center;
  justify-content: center;
}
